:root {
  --color-green: #06c167;
  --color-grey: rgb(238, 238, 238);
  font-size: 16px;
  --font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  /* background: brown; */
  margin: 0;
  font-family: sans-serif;
}

.container > div {
  // width: calc(100% - 120px);
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
header {
  .logo {
    h1 {
      font-weight: 300;
      span {
        font-weight: 600;
        color: var(--color-green);
      }
    }
  }
  .container {
    display: flex;
    align-items: center;
    // margin-left: auto;
  }
  .searchBar {
    margin-left: auto;
  }
  .header-option {
    padding-left: 5rem;
    letter-spacing: 0.6px;
    // font-size: 0.8rem;
  }
  .currentDetails,
  .searchBar {
    display: flex;
  }
}
.options {
  padding: 1.2rem 0;
  .options-btn {
    background: #ddd;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    border: 0;
    font-family: var(--font-family);
    font-size: 0.9rem;
    letter-spacing: 0.7px;
    &.selected {
      background: black;
      color: white;
    }
  }
}

.listings {
  .header {
    display:flex;
    align-items: center;
    .header title {
      h2 {
        font-weight: 400;
        font-size: 1.7rem;
        margin-bottom: 0.5rem;
        margin-top: 0%;
      }
      span { 
        color: var(--color-greyDarker);
        
      }
    }
    .header-viewOptions {
      margin-left: auto;
      display: flex; 
      align-items: center;
      .viewAll {
        color var(--color-green);
        padding-right: 2rem;
      }
      .viewMore {
        .arrow {
          width: 40px;
          height: 40px;
          background: red;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 50;
        }
      }
    }
  }
}