.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: transparent;
}

.flex-container > div {

  background-color: #f1f1f1;
  width: 400px;
  margin: 50px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border: brown;
  border-width: 30px;
}
h1 {
  text-align: center;
  color:orange;
  font-size: 300ps;
  font-family: serif ;
}
p img {
  border-radius: 50%;
}

body {
  background:brown;
  
}
